<ion-content [fullscreen]="true">
  <router-outlet></router-outlet>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/admin/dashboard" routerLinkActive="tab-selected">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/admin/notice-list" routerLinkActive="tab-selected">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Notices</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/admin/settings" routerLinkActive="tab-selected">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/admin/users" routerLinkActive="tab-selected">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/admin/profile" routerLinkActive="tab-selected">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
