<ion-content [fullscreen]="true">
  <router-outlet></router-outlet>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/staying-owner/home" routerLinkActive="tab-selected">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/staying-owner/visitors" routerLinkActive="tab-selected">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Visitors</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/staying-owner/management" routerLinkActive="tab-selected">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Management</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
